<section class="container-fluid" onmove="resizeMainPanel()" onresize="resizeMainPanel()">
    <profile-info></profile-info>

    <div id="main_panel" class="main_panel col-md-8" ng-controller="PendingRoutesController">
        <div class="routes content_container" ng-init="init()">
            <div class="row" ng-repeat="route in routes">
                <div class="col-sm-4">
                    <a class="change-on-hover" ui-sref="routeDetail({id:[[route.pk]]})">
                        <img class="img-responsive" src="[[route.get_picture]]" />
                    </a>
                </div>
                <div class="col-sm-8">
                    <div class="media-body">
                        <div class="media-heading">
                            <a ui-sref="routeDetail({id:[[route.pk]]})">[[route.title]]</a>
                        </div>
                        <hr />
                        <div class="content">
                            [[route.description]]
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn-lg btn-success loadMore" ng-click="getNext()"
            ng-show="routes.length>0">Carregar Mais</button>
            <div class="row" ng-show="routes.length==0">
                <div class="col-sm-12">
                    <div class="media-body" style="text-align: center">
                        <h4>Você não possui nenhuma rota marcada como pendente.</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>