<profile-info></profile-info>

<div ng-controller="RoutesFormController" id="main_panel" class="main_content_form col-md-8" onresize="resizeMainPanel()">
    <h2 class="form-title">Cadastro de Rota</h2>
    <hr />
    <form class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-sm-2">Título:</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" ng-model="title"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Origem:</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" ng-model="origin"
                       ng-change="setOrigin()" ng-model-options="{debounce:1000}"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                <div class="mapMenuLeft">
                    <button class="btn btn-primary" ng-click="manualMode = !manualMode" ng-class="{active:manualMode}">Manual</button>
                    <button class="btn btn-danger" ng-click="undo()">Desfazer</button>
                </div>
                <div id="map" style="height: 400px"></div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Descrição:</label>
            <div class="col-sm-6">
                <textarea class="form-control" ng-model="description" rows="4"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Terreno:</label>
            <div class="col-sm-6">
                <select class="form-control" ng-model="field">
                    <option value="" selected="selected">---------</option>
                    <option ng-repeat="field in fields" value="[[field.id]]">[[field.kind]]</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 col-sm-offset-2">
                <select class="form-control" data-ng-init="getFields()">
                    <option value="">Privada</option>
                    <option value="">Pública</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button ng-click="save()" type="button" class="btn btn-success">Criar Rota!</button>
            </div>
        </div>
    </form>
</div>