<profile-info></profile-info>

<div id="main_panel" class="routes main_panel col-md-8" ng-controller="PointController">
    <div class="mapContainer">
        <div id="map" style="height: 200px" data-ng-init="initMap()">
        </div>
    </div>

    <div class="row">
        <h2 class="form-title">Cadastro de Ponto</h2>
        <hr />
        <form class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-sm-2">Título:</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" ng-model="title"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Tipo:</label>
                <div class="col-sm-6">
                    <select class="form-control" ng-model="pointkind" ng-change="changeKind()">
                        <option value="" selected="selected">---------</option>
                        <option ng-repeat="pointkind in pointkinds" value="[[pointkind.id]]">
                            [[pointkind.kind]]
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Descrição:</label>
                <div class="col-sm-6">
                    <textarea class="form-control" ng-model="description" rows="4"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Endereço/<br/>Referência:</label>
                <div class="col-sm-6">
                    <p class="form-control-static">[[address]]</p>
                </div>
            </div>
            <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button ng-click="save()" type="button" class="btn btn-success">Criar Ponto!</button>
            </div>
        </div>
        </form>
    </div>
</div>