<profile-info></profile-info>

<div id="main_panel" class="routes main_panel col-md-8" ng-controller="RoutesDetailController">
    <div class="mapContainer">
        <div id="map" style="height: 200px" data-ng-init="initMap()">
        </div>
    </div>

    <div class="row">
        <div class="title">
            <span>[[ route.title ]]</span>
            <hr>
        </div>

        <div class="actions">
            <div class="hidden-xs">
                <button class="btn btn-success" ng-click="markAsPerformed()">
                    <i class="fa fa-check"></i> Marcar como Realizada
                </button>
                <button class="btn btn-warning" ng-click="markAsPending()">
                    <i class="fa fa-check"></i> Marcar como Pendente
                </button>
                <button class="btn btn-info" ng-click="showModal()">
                    <i class="fa fa-plus"></i> Adicionar Fotos
                </button>
            </div>
            <div class="center-block visible-xs">
                <button class="btn btn-success" title="Marcar como Realizada"><i class="fa fa-check"></i></button>
                <button class="btn btn-warning" title="Marcar como Pendente"><i class="fa fa-check"></i></button>
                <button class="btn btn-info" title="Adicionar Fotos"><i class="fa fa-plus"></i></button>
            </div>
            <hr>
        </div>

        <div class="description">
            <b>Descrição:</b>
                <span>
                    [[ route.description ]]
                </span>
            <hr>
        </div>

        <div class="field">
            <b>Terreno:</b>
                <span>
                    [[ route.field_info.kind ]]
                </span>
            <hr>
        </div>

        <div class="points">
            <div class="tableContainer">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Ícone</th>
                        <th>Ponto</th>
                        <th>Descrição</th>
                        <th>Localização</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="point in route.points">
                        <td><img src="[[point.kind_info.icon]]"></td>
                        <td><a ui-sref="routePointDetail({id:[[point.id]]})">[[point.title]]</a></td>
                        <td>[[point.description]]</td>
                        <td>[[point.address]]</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <button class="btn btn-success" ng-click="addPoint()">
                <i class="fa fa-plus"></i>Adicionar Ponto
            </button>
            <hr>
        </div>

        <div class="photos">
            <div class="col-sm-4" ng-repeat="picture in route.pictures | limitTo:5">
                <div class="thumbnail">
                    <img style="height: 200px; width: 100%; display: block; cursor: pointer"
                         src="[[picture.image]]" ng-click="showPicture([[picture.image]],
                         [[picture.description]])">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="thumbnail" ng-show="route.pictures.length > 5">
                    <div class="caption">
                        <a ui-sref="routePictures({id:[[routeId]]})"><h3>Ver Todas >></h3></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="comments" data-ng-init="getComments()">
        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-model="comment"
                           placeholder="Escreva um comentário..." />
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-success" style="width: 100%" ng-click="postComment()">
                        Postar
                    </button>
                </div>
            </div>
        </div>

        <div class="media" ng-repeat="comment in comments">
            <div class="media-left">
                <a>
                    <img class="media-object" src="[[comment.user_photo]]" />
                </a>
            </div>
            <div class="media-body">
                <div class="media-heading">
                    <a>[[comment.user_name]]</a>
                    <span style="float:right">[[comment.published | date : 'dd/MM/yyyy HH:mm' ]]</span>
                 </div>
                <hr />
                <div class="content">
                    [[comment.description]]
                </div>
            </div>
        </div>
        <button class="btn-lg btn-success loadMore" ng-click="getComments()"
            ng-show="comments.length>0">Carregar Mais</button>
    </div>

    <routepicture-modal visible="show" on-hide="refreshRoutePictures()"></routepicture-modal>

    <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <img src="" id="imagepreview" style="width: 100%;" >
                    <h4 id="imagedescription"></h4>
                </div>
            </div>
        </div>
    </div>
</div>