<section class="container-fluid" onmove="resizeMainPanel()" onresize="resizeMainPanel()">
    <profile-info></profile-info>

    <div id="main_panel" class="main_panel col-md-8" ng-controller="ContentController"
         ng-init="getFeed()">

        <ul class="nav nav-tabs nav-justified">
            <li id="feed_tab" ng-class="{active: feed_active}">
                <a ng-click="select_feed()">Feed</a>
            </li>
            <li id="routes_tab" ng-class="{active: routes_active}">
                <a ng-click="select_routes()">Rotas</a>
            </li>
        </ul>

        <div ng-if="feed_active" id="main_panel" class="feed content_container">

            <div class="media" ng-repeat="feed in feeds">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="[[feed.user_photo]]" />
                    </a>
                </div>
                <div class="media-body">
                    <div class="media-heading">
                        <a href="#">[[feed.user_name]]</a>
                        <span>[[feed.action_name]] [[feed.target_name]]</span>
                        <a ui-sref="[[feed.target_link.value]]([[feed.target_link.keys]])">
                            [[feed.target_object_name]]
                        </a>
                    </div>
                    <hr />
                    <div class="content">
                        [[feed.description]]
                    </div>
                </div>
            </div>

            <button class="btn-lg btn-success loadMore" ng-click="getFeed()">Carregar Mais</button>

        </div>

        <div ng-if="routes_active" id="routes_container" class="routes content_container">
            <div class="row">
                <div class="col-xs-12 form-inline">
                    <div class="form-group">
                        <input class="form-control" placeholder="Origem..." ng-model="origin" />
                    </div>
                    <div class="form-group">
                        <input class="form-control" placeholder="Destino..." ng-model="destination" />
                    </div>
                    <button class="btn btn-primary" ng-click="search(origin,destination)">
                        <i class="fa fa-search"></i> Buscar</button>
                    <a id="new-route" class="btn btn-success" ui-sref="routeCreate"><i class="fa fa-plus"></i> Nova Rota</a>
                </div>
            </div>

            <div class="row" ng-repeat="route in routes">
                <div class="col-sm-4">
                    <a class="change-on-hover" ui-sref="routeDetail({id:[[route.pk]]})">
                        <img class="img-responsive" src="[[route.get_picture]]" />
                    </a>
                </div>
                <div class="col-sm-8">
                    <div class="media-body">
                        <div class="media-heading">
                            <a ui-sref="routeDetail({id:[[route.pk]]})">[[route.title]]</a>
                        </div>
                        <hr />
                        <div class="content">
                            [[route.description]]
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn-lg btn-success loadMore" ng-click="getNext()">Carregar Mais</button>
        </div>
    </div>
</section>