<div class="loginForm">
    <form class="register-form">
        <div class="formFields">
            <input type="email" placeholder="E-mail"/>
        </div>
        <div class="formFields">
            <input type="text" placeholder="Nome"/>
        </div>
        <div class="formFields">
            <input type="text" placeholder="Sobrenome"/>
        </div>
        <div class="formFields">
            <input type="password" placeholder="Senha"/>
        </div>
        <div class="formFields">
            <input type="password" placeholder="Confirmar Senha"/>
        </div>
        <button type="submit">Cadastrar</button>
        <p class="message">Já cadastrado?
            <input type="button" onclick="changeForm()" value="Logar-se" />
        </p>
    </form>

    <form class="login-form" ng-controller="LoginController">
        <div class="formFields">
            <input type="email" placeholder="E-mail" ng-model="email" />
            <ul class="errorlist" ng-show="errors.username">
                <li ng-repeat="error in errors.username">[[error]]</li>
            </ul>
        </div>
        <div class="formFields">
            <input type="password" placeholder="Senha" ng-model="password" />
            <ul class="errorlist" ng-show="errors.password">
                <li ng-repeat="error in errors.password">[[error]]</li>
            </ul>
        </div>

        <div class="formFields">
            <label><input type="checkbox" /> Lembrar-me</label>
        </div>

        <div ng-show="errors.non_field_errors" class="formFields">
            <div class="non-field-errors" ng-repeat="error in errors.non_field_errors">
                <p class="form-error">[[error]]</p>
            </div>
        </div>

        <button ng-click="login()">Login</button>

        <p class="message">Não cadastrado?
            <input type="button" onclick="changeForm()" value="Crie uma conta" />
        </p>
    </form>
</div>