<div class="profile col-md-3 hidden-xs">

    <div class="row">
        <a href="#">
            <img class="img-responsive img-circle" src="[[image]]" />
            <div class="name">
                <label>[[name]] [[lastName]]</label>
            </div>
        </a>
        <div class="icons">
            <i class="fa fa-users blue" data-toggle="tooltip"
               data-placement="bottom" title="Amigos">666</i>
            <i class="fa fa-bicycle green" data-toggle="tooltip"
               data-placement="bottom" title="Rotas Realizadas">666</i>
            <i class="fa fa-compass red" data-toggle="tooltip"
               data-placement="bottom" title="Rotas Pendentes">666</i>
        </div>
    </div>

    <div class="row">
        <ul class="list-group">
             <li class="list-group-item">
                <a ui-sref="userProfile">Meu Perfil</a>
            </li>
            <li class="list-group-item">
                <span class="badge">666</span>
                <a href="#">Rotas Realizadas</a>
            </li>
            <li class="list-group-item">
                <span class="badge">666</span>
                <a href="#">Rotas Pendentes</a>
            </li>
            <li class="list-group-item">
                <span class="badge">666</span>
                <a href="#">Amigos</a>
            </li>
            <li class="list-group-item">
                <a ng-click="logout()" class="cursorPointer">Sair <i class="fa fa-sign-out"></i></a>
            </li>
        </ul>
    </div>

</div>