{% load static %}

<div class="profile col-md-3 hidden-xs">

    <div class="row">
        <a href="#">
            {% if user.profile_picture %}
                <img class="img-responsive img-circle" src="{{ user.profile_picture.url }}" />
            {% else %}
                <img class="img-responsive img-circle" src="{% static 'img/non_user.png'%}" />
            {% endif %}
            <div class="name">
                <label>{{ user.name }} {{ user.last_name }}</label>
            </div>
        </a>
        <div class="icons">
            <i class="fa fa-users blue" data-toggle="tooltip"
               data-placement="bottom" title="Amigos">666</i>
            <i class="fa fa-bicycle green" data-toggle="tooltip"
               data-placement="bottom" title="Rotas Realizadas">666</i>
            <i class="fa fa-compass red" data-toggle="tooltip"
               data-placement="bottom" title="Rotas Pendentes">666</i>
        </div>
    </div>

    <div class="row">
        <ul class="list-group">
            <li class="list-group-item">
                <span class="badge">666</span>
                <a href="#">Rotas Realizadas</a>
            </li>
            <li class="list-group-item">
                <span class="badge">666</span>
                <a href="#">Rotas Pendentes</a>
            </li>
            <li class="list-group-item">
                <span class="badge">666</span>
                <a href="#">Amigos</a>
            </li>
            <li class="list-group-item">
                <a href="/logout/">Sair <i class="fa fa-sign-out"></i></a>
            </li>
        </ul>
    </div>

</div>