/* Customizações */
body{
    background: #b4e391; /* Old browsers */
    background: -moz-linear-gradient(top, #b4e391 0%, #61c419 50%, #b4e391 100%);
    background: -webkit-linear-gradient(top, #b4e391 0%,#61c419 50%,#b4e391 100%);
    background: linear-gradient(to bottom, #b4e391 0%,#61c419 50%,#b4e391 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4e391', endColorstr='#b4e391',GradientType=0 );

    overflow-y: hidden;
}

h1.form-title,
h2.form-title,
h3.form-title,
h4.form-title,
h5.form-title {
    margin-left: 20px;
}

.footer{
    position:absolute;
    bottom:0;
    width: 100%;
    height: 200px;
    z-index: -1;
    background-image: url("../img/trees.png");
}

nav.menu{
    box-shadow: 0 0 20px 0 #36DB4A;
}

.menu div{
    background: #009639;
}

.menu button{
    background: #ffffff;
}

.menu a.logo{
    color: #ffffff !important;
}

.menu input.search{
    min-width: 190px;
}

.profile{
    border: 2px solid #009639;
    margin-left: 5px;

    background: #c9de96; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #c9de96 0%, #8ab66b 44%, #398235 100%);
    background: -webkit-linear-gradient(-45deg,  #c9de96 0%,#8ab66b 44%,#398235 100%);
    background: linear-gradient(135deg,  #c9de96 0%,#8ab66b 44%,#398235 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9de96', endColorstr='#398235',GradientType=1 );
}

@media (max-width: 991px) {
    .profile{
        margin: 0 20px 20px 20px;
    }
}

.profile img{
    display: block;
    float: left;
    max-height: 100px;
}

.profile span{
    text-align: left;
    font-weight: bolder;
    white-space: pre-wrap;
}

.profile a{
    text-decoration:none;
    font-weight: bolder;
    font-size: 1.3em;
}

.profile div.name{
    max-height: 80px;
    overflow-y: hidden;
    overflow-x: hidden;
    word-break: break-all;
}

.profile div.icons{
    float: left;
    max-height: 20px;
    overflow-y: hidden;
    font-weight: bold;
    cursor: pointer;
}

.icons .green{
    color: #129015;
}

.icons .blue{
    color: #3768F0;
}

.icons .red{
    color: #F51625;
}

.profile .row+.row{
    padding-top: 5px;
}

.main_panel{
    border: 2px solid #009639;
    margin-left: 20px;
    margin-right: 20px;

    background: #c9de96;
    background: -moz-linear-gradient(-45deg,  #c9de96 0%, #8ab66b 44%, #398235 100%);
    background: -webkit-linear-gradient(-45deg,  #c9de96 0%,#8ab66b 44%,#398235 100%);
    background: linear-gradient(135deg,  #c9de96 0%,#8ab66b 44%,#398235 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9de96', endColorstr='#398235',GradientType=1 );

    overflow-y: auto;
}

.main_panel ul{
    margin-top: 5px;
}

.main_panel .nav-tabs.nav-justified>li>a{
    border-bottom: 2px solid #009639;
    font-weight: bold;
}

.main_panel .nav-tabs.nav-justified>.active>a,
.nav-tabs.nav-justified>.active>a:focus,
.nav-tabs.nav-justified>.active>a:hover{
    border: 2px solid #009639;
}

.main_panel .content_container{
    margin-top: 10px;
}

.feed .media{
    background: #fff;
    border: 1px solid #009639;
    margin-bottom: 10px;
}

.feed .media-heading a{
    text-decoration: none;
    font-weight: bold;
}

.feed .media-left a img{
    width: 40px;
    height: 40px;
    margin: 5px 0 0 5px;
}

.feed .media-heading{
    margin-top: 10px;
}

.feed .media-body hr{
    margin-top: 10px;
    margin-bottom: 10px;
}

.routes .row{
    background: #fff;
    border: 1px solid #009639;
    margin: 0 0 10px 0;
}

.routes .media-heading{
    margin-top: 10px;
}

.routes .media-heading a{
    text-decoration: none;
    font-weight: bold;
}

.routes a>img{
    margin: 5px 5px 5px 0;
    border: 2px solid #2b542c;
    max-height: 300px;
}

@media (max-width: 766px) {
    .routes a>img{
        margin-right: auto;
        margin-left: auto;
    }

    .routes .media-heading{
        text-align: center;
    }
}

.routes .media-body hr{
    margin-top: 10px;
    margin-bottom: 10px;
}

.routes .form-inline{
    margin-top: 5px;
    margin-bottom: 5px;
}

.routes a#new-route{
    float: right;
}

.routes #map{
    border: 2px solid #009639;
    margin: 5px 0 5px 0;
}

.routes .title{
    margin: 5px 0 0 5px;
}

.routes .title hr,
.routes .actions hr{
    margin-top: 5px;
    margin-bottom: 5px;
}

.routes .title span{
    font-weight: bold;
    font-size: 1.5em;
    color: #2e6da4;
    cursor: pointer;
}

.routes .description,
.routes .actions{
    margin: 5px 0 0 5px;
}

.routes .description span{
    text-align: justify;
}

.routes .points button{
    margin-left: 10px;
}

.routes .points .tableContainer{
    overflow-x: scroll;
}

.main_content_form{
    background: #fff;
    border: 1px solid #009639;
    margin: 0 20px 10px 20px;

    overflow-y: auto;
    overflow-x: hidden;
}

.main_content_form form{
    margin-top: 10px;
}

.mapMenuLeft{
    position: absolute;
    z-index: 5;
    right:20px;
    top:5px;
}

.loginForm {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.loginForm input[type="password"],
.loginForm input[type="submit"],
.loginForm input[type="email"],
.loginForm input[type="text"]{
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.loginForm .formFields{
    margin-bottom: 15px;
}

.loginForm button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.loginForm button:hover,
.loginForm button:active,
.loginForm button:focus {
  background: #43A047;
}

.loginForm .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.loginForm .message a {
  color: #4CAF50;
  text-decoration: none;
}

.loginForm .register-form {
  display: none;
}

.login-form label{
    font-weight: normal;
    float: left;
    font-size: 0.9em;
    margin-bottom: 10px;
}

form ul.errorlist{
    color: #CC0000;
    list-style-type: none;
    font-size: 0.85em;
    padding-left: 0;
    text-align: left;
}

form ul.errorlist li:before{
    content: "*";
}

form .non-field-errors{
    color: #CC0000;
    font-size: 0.85em;
}

/* Fim Customizações */