{% extends 'base.html' %}
{% load static %}
{% load myfilters %}

{% block title %}Ciclotour{% endblock %}

{% block jsImports %}
    <script type="text/javascript" src="{% static 'js/controllers/RoutesFormController.js'%}"></script>
    <script src="{% static 'js/googlemaps.js'%}"></script>
{% endblock %}

{% block main_panel %}
    <div ng-controller="RoutesFormController" id="main_panel" class="main_content_form col-md-8">
        <h2 class="form-title">Cadastro de Rota</h2>
        <hr />
        <form class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-sm-2">Título:</label>
                <div class="col-sm-6">
                    {{ form.title|add_class:"form-control"|add_ngModel:"title" }}
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Origem:</label>
                <div class="col-sm-6">
                    {{ form.origin|add_class:"form-control"|add_ngModel:"origin"|add_ngChange:"setOrigin()"|add_ngModelOptions:"{debounce:1000}" }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <div class="mapMenuLeft">
                        <button class="btn btn-primary" ng-click="manualMode = !manualMode" ng-class="{active:manualMode}">Manual</button>
                        <button class="btn btn-danger" ng-click="undo()">Desfazer</button>
                    </div>
                    <div id="map" style="height: 400px"></div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Descrição:</label>
                <div class="col-sm-6">
                    {{ form.description|add_class:"form-control"|set_rows:"4"|add_ngModel:"description" }}
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Terreno:</label>
                <div class="col-sm-6">
                    {{ form.field|add_class:"form-control"|add_ngModel:"field" }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 col-sm-offset-2">
                    <select class="form-control">
                        <option value="">Privada</option>
                        <option value="">Pública</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button ng-click="save()" type="button" class="btn btn-success">Criar Rota!</button>
                </div>
            </div>
        </form>
    </div>


    <div id="myModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <p id="modal-content"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">OK</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock %}